body, a, ul, li, .nav {
    font-family: 'Rubik', sans-serif;
    /* font-family: 'Slabo 27px', serif; */
}

.nav {
    display: inline;
    padding: 10px;
}

.tripPhoto {
    max-width: 300px;
}

/* changes color of star based on # stars clicked - trip detail */
.checked {
    color:orange;
}

.memoryList {
    display: list-item;
}

#map {
    width: 100%;
    height: 350px;
}

#floating-panel {
    position: absolute;
    top: 150px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    line-height: 30px;
    padding-left: 10px;
}

/* #welcome_image {
    position: absolute;
    width: 100%;
    height: 350px;
} */
   
.panel-default {
    opacity: 0.9;
    margin-top:30px;
}

.form-group.last {
    margin-bottom:0px;
}

/* nav styles */
#colorNav > ul{
    width: 450px;
    margin:0 auto;
}

#colorNav li.green{
    /* This is the color of the menu item */
    background-color:#00c08b;

    /* This is the color of the icon */
    color:#127a5d;
}

#colorNav li.red{
    /* This is the color of the menu item */
    background-color:#ea5080;

    /* This is the color of the icon */
    color:#aa2a52;
}

#colorNav li.yellow{
    /* This is the color of the menu item */
    background-color:#f8c54d;

    /* This is the color of the icon */
    color:#ab8426;
}

#colorNav li.purple{
    /* This is the color of the menu item */
    background-color:#df6dc2;

    /* This is the color of the icon */
    color:#9f3c85;
}

html { 
  /* background: url(./app/auth/img/brasov.jpg) no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* button styling */
button {
    background-color: #00c08b; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* input styling */
input[type=text]:focus {
    background-color: rgb(227, 229, 230);
}

input[type=date]:focus {
    background-color: rgb(227, 229, 230);
}

textarea:focus {
    background-color: rgb(227, 229, 230);
}

