.nav {
    display: inline;
    padding: 10px;
}

.tripPhoto {
    max-width: 300px;
}

.checked {
    color:orange;
  }

.active {
    color:orange;
  }

.memoryList {
    display: list-item;
}

#map {
    width: 100%;
    height: 400px;
  }

  #floating-panel {
    position: absolute;
    top: 175px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }

