<section>
    
    <h2>Add a Trip!</h2>
    <div ng-controller="addTripCtrl">
        <h3>Search (city and/or country) to add the location of your trip.</h3>
    
        <div id="floating-panel">
            <input id="address" type="textbox" value="">
            <input id="submit" type="button" value="Geocode">
        </div>
        
        <div id="map"></div>
    </div>

    <div class="form-style-5">
        <form>
            <fieldset>
                <legend><span class="number">1</span> Trip Details</legend>
                <input type="text" ng-model="newTrip.country" name="field1" placeholder="Country">
                <!-- need to change this in controller to be the arrival date -->
                <input type="date" ng-model="newTrip.departureDate" name="field2" placeholder="Arrival Date">
                <!-- need to change this in controller to be the departure date -->
                <input type="date" ng-model="newTrip.returnDate" name="field3" placeholder="Departure Date">
                
                <legend><span class="number">2</span> Rate Your Trip</legend>
                <div class="starRating">
                    <span class="fa fa-star " id="star_1" ng-click="starClicked($event)"></span>
                    <span class="fa fa-star " id="star_2" ng-click="starClicked($event)"></span>
                    <span class="fa fa-star " id="star_3" ng-click="starClicked($event)"></span>
                    <span class="fa fa-star " id="star_4" ng-click="starClicked($event)"></span>
                    <span class="fa fa-star " id="star_5" ng-click="starClicked($event)"></span>
                </div>
                <br>
                <legend><span class="number">3</span> Trip Memories</legend>
                <textarea  ng-model="newTrip.listOfMemories" name="field3" placeholder="List out your favorite trip memories (separate by comma)"></textarea>

                <legend><span class="number">4</span> Choose your favorite trip photo</legend>
                <div>
                    <progress value="0" max="100" id="uploader">0%</progress>
                    <input type="file" value="upload" id="fileButton"></input>
                </div>
                <br>
            </fieldset>
            <button ng-click="addTrip()">Add Trip</button>
        </form>
    </div>

</section>

