<!-- Add trip form -->
<section >
    
    <div class="header">
        <h3><i class="fa fa-plus-square-o"></i> Add a Trip!</h3>
    </div>

    <div ng-controller="addTripCtrl">
        <div class="form-style-5">
            <form>
                <fieldset>
                    <!-- trip title -->
                    <legend><span class="number">1</span> Add your trip title</legend>
                    <input type="text" ng-model="newTrip.country" name="field1" placeholder="Trip Title">

                    <!-- trip location via geocoding map -->
                    <legend><span class="number">2</span> Search to add the location of your trip</legend>
                    <div id="floating-panel">
                        <input id="address" type="textbox" value="" placeholder="Search">
                        <input id="submit" type="button" value="Geocode">
                    </div>
                    <div id="addTripMap"></div>
                    <br>

                    <!-- trip dates -->
                    <legend><span class="number">3</span> Trip Dates</legend>
                    Arrival Date <input type="date" ng-model="newTrip.arrivalDate" name="field2" placeholder="Arrival Date">
                    Departure Date <input type="date" ng-model="newTrip.departureDate" name="field3" placeholder="Departure Date">

                    <!-- trip star rating -->
                    <legend><span class="number">4</span> Rate Your Trip</legend>
                    <div>
                        <span class="fa fa-star fa-2x " id="star_1" ng-click="starClicked($event)"></span>
                        <span class="fa fa-star fa-2x " id="star_2" ng-click="starClicked($event)"></span>
                        <span class="fa fa-star fa-2x " id="star_3" ng-click="starClicked($event)"></span>
                        <span class="fa fa-star fa-2x " id="star_4" ng-click="starClicked($event)"></span>
                        <span class="fa fa-star fa-2x " id="star_5" ng-click="starClicked($event)"></span>
                    </div>
                    <br>
                    <br>

                    <!-- trip memories -->
                    <legend><span class="number">5</span> Trip Memories</legend>
                    <textarea  ng-model="newTrip.listOfMemories" name="field3" placeholder="List out your favorite trip memories (separate by comma)"></textarea>

                    <!-- trip upload photo -->
                    <legend><span class="number">6</span> Choose your favorite trip photo</legend>
                    <div>
                        <progress value="0" max="100" id="uploader">0%</progress>
                        <input type="file" value="upload" id="fileButton"></input>
                    </div>
                    <br>
                </fieldset>

                <!-- submit form button -->
                <button ng-click="addTrip()"><i class="fa fa-check"></i> Add Trip</button>
            </form>
        </div>

    </div>

</section>

