<section>
    
    <h2>Add a Trip!</h2>
    <div ng-controller="addTripCtrl">
        <h3>Click on the map or search for a location to add the location of your trip.</h3>
    
        <div id="floating-panel">
            <input id="address" type="textbox" value="">
            <input id="submit" type="button" value="Geocode">
        </div>
        
        <div id="map"></div>
    </div>

    <form>
        <br>
        <div>
            Country: <input type="text" ng-model="newTrip.country">
        </div>
        <br>
        <div>
            Departure Date: <input type="date" ng-model="newTrip.departureDate" />
        </div>
        <br>
        <div>
            Return Date: <input type="date" ng-model="newTrip.returnDate" />
        </div>
        <br>
        <div class="starRating">
            <p>Rate your trip</p>
            <span class="fa fa-star " id="star_1" ng-click="starClicked($event)"></span>
            <span class="fa fa-star " id="star_2" ng-click="starClicked($event)"></span>
            <span class="fa fa-star " id="star_3" ng-click="starClicked($event)"></span>
            <span class="fa fa-star " id="star_4" ng-click="starClicked($event)"></span>
            <span class="fa fa-star " id="star_5" ng-click="starClicked($event)"></span>
        </div>
        <br>
        <div>
            List out your favorite trip memories (separate by comma): <textarea  ng-model="newTrip.listOfMemories"></textarea>
        </div>
        <div>
            <p>Choose your favorite trip photo</p>
            <progress value="0" max="100" id="uploader">0%</progress>
            <input type="file" value="upload" id="fileButton"></input>
        </div>
        <br>
        <button ng-click="addTrip()">Add Trip</button>
    </form>

</section>
