<!-- lists all user's trips in a grid -->
<section>

    <!-- search by trip title -->
    <div class="header">
        <h3><i class="fa fa-search"></i> My Trips</h3>
        <button class="headerButton"><a href="#!/trips/new"><i class="fa fa-plus"></i> Add a Trip!</a></button>
    </div>

    <div class="form-style-5">
        <input type="text" ng-model="query" placeholder="Search">
    </div>

    <section class="columns">
        <div ng-repeat="currentTrip in trips | filter: query" class="card">
            <img src="{{ currentTrip.photo }}" class="cardPhoto">
            <div class="container tripsFont">
                <a href="#!/trips/detail/{{ currentTrip.id }}">{{ currentTrip.country }}</a>
            </div>
        </div>
    </section>


</section>


