<section>

    <div class="header">
        <h3><i class="fa fa-search"></i> My Trips</h3>
    </div>

    <div class="form-style-5">
        <input type="text" ng-model="query" placeholder="Search">
    </div>
    
    <!-- needs work to sort by rating -->
    <!-- <div class="form-style-5">
        <select ng-model="trips.rating">
            <option value="-rating">Rating High to Low</option>
            <option value="rating">Rating Low to High</option>
        </select>
    </div> -->

    <section class="columns">
        <div ng-repeat="currentTrip in trips | filter: query" class="card">
            <img src="{{ currentTrip.photo }}" class="cardPhoto">
            <div class="container">
                <a href="#!/trips/detail/{{ currentTrip.id }}">{{ currentTrip.country }}</a>
            </div>
        </div>
    </section>


</section>


