<section>

    <h1 class="editable" contenteditable="true">{{ trip.country }}</h1>
    
    <h3 class="editable" contenteditable="true">Departed on: {{ trip.departureDate | date:"fullDate" }}</h3>
    <h3 class="editable" contenteditable="true">Returned on: {{ trip.returnDate | date:"fullDate" }}</h3>
    <div class="starRating">
        <span class="fa fa-star-o " id="star_1" ng-click="starClicked($event)"></span>
        <span class="fa fa-star-o " id="star_2" ng-click="starClicked($event)"></span>
        <span class="fa fa-star-o " id="star_3" ng-click="starClicked($event)"></span>
        <span class="fa fa-star-o " id="star_4" ng-click="starClicked($event)"></span>
        <span class="fa fa-star-o " id="star_5" ng-click="starClicked($event)"></span>
    </div>
    <h3 class="editable" contenteditable="true">Rating: {{ trip.rating }}</h3>
    <img class="tripPhoto" ng-src="{{ trip.photo }}">
    <br>

    <!-- edit not working -->
    <!-- <button ng-click="editTrip()">Edit Trip</button> -->
    <button ng-click="deleteTrip()">Delete Trip</button>
    
</section>




       
