<section>

    <div class="tripCard">
        <img class="tripPhoto" ng-src="{{ trip.photo }}">
        <div class="tripContainer">
            <h1>{{ trip.country }}</h1>
            
            <h3>Arrived on {{ trip.arrivalDate | date:"fullDate" }}</h3>
            <h3>Departed on {{ trip.departureDate | date:"fullDate" }}</h3>
            <br>
            <div class="starRating">
                <h3>Trip Rating</h3>
                <span id="star_1" ng-class="trip.rating >= 1 ? 'fa fa-star fa-2x checked' : 'fa fa-star fa-2x'"></span>
                <span id="star_2" ng-class="trip.rating >= 2 ? 'fa fa-star fa-2x checked' : 'fa fa-star fa-2x'"></span>
                <span id="star_3" ng-class="trip.rating >= 3 ? 'fa fa-star fa-2x checked' : 'fa fa-star fa-2x'"></span>
                <span id="star_4" ng-class="trip.rating >= 4 ? 'fa fa-star fa-2x checked' : 'fa fa-star fa-2x'"></span>
                <span id="star_5" ng-class="trip.rating >= 5 ? 'fa fa-star fa-2x checked' : 'fa fa-star fa-2x'"></span>
            </div>
            <br>
            <h3>Your favorite memories </h3>
            <ul class="memoryList" ng-repeat="memory in trip.listOfMemories track by $index">
                <li >{{ memory }}</li>
            </ul>
        
        </div>
        <button ng-click="deleteTrip()">Delete Trip</button>
    </div>
    
</section>




       
