<section>

    <h1>{{ trip.country }}</h1>
    
    <h3>Departed on {{ trip.departureDate | date:"fullDate" }}</h3>
    <h3>Returned on {{ trip.returnDate | date:"fullDate" }}</h3>
    <div class="starRating">
        <h3>Trip Rating</h3>
        <span id="star_1" ng-class="trip.rating >= 1 ? 'fa fa-star checked' : 'fa fa-star'"></span>
        <span id="star_2" ng-class="trip.rating >= 2 ? 'fa fa-star checked' : 'fa fa-star'"></span>
        <span id="star_3" ng-class="trip.rating >= 3 ? 'fa fa-star checked' : 'fa fa-star'"></span>
        <span id="star_4" ng-class="trip.rating >= 4 ? 'fa fa-star checked' : 'fa fa-star'"></span>
        <span id="star_5" ng-class="trip.rating >= 5 ? 'fa fa-star checked' : 'fa fa-star'"></span>
    </div>
    <br>
    <img class="tripPhoto" ng-src="{{ trip.photo }}">
    <br>
    <!-- this is not displaying on multiple li lines -->
    <h3>Your favorite memories </h3>
    <ul ng-repeat="memory in trip.listOfMemories">
        <li >{{ memory }}</li>
    </ul>

    <!-- edit not working -->
    <!-- <button ng-click="editTrip()">Edit Trip</button> -->
    <button ng-click="deleteTrip()">Delete Trip</button>
    
</section>




       
