<ul ng-controller="NavCtrl" class="nav" id="colorNav">
    <li class="nav"> Backpacker Tracker</li>
    <li class="nav purple">
        <span ng-if="isAuthenticated()">
            <a class="fa fa-sign-out" href="#" ng-click="logout()"> Logout</a>
        </span>
        <span ng-if="!isAuthenticated()"></span>
    </li>
    <li class="nav yellow"><a class="fa fa-map-o" href="#!/trips/map"> Map View</a></li>
    <li class="nav red"><a class="fa fa-bars" href="#!/trips/list"> List View</a></li>
    <li class="nav green"><a class="fa fa-plus" href="#!/trips/new"> Add Trip</a></li>
</ul>